<div class="section-spacing flex align-items-center flex-column">
  <h3>HOW IT WORK</h3>
  <h2>Rent with following 3 working steps</h2>
  <div class="w-full flex justify-content-around pt-5">
    <div class="flex flex-column align-items-center">
      <div
        class="background-icon flex justify-content-center align-items-center "
      >
        <i class="pi pi-map-marker icon"></i>
      </div>
      <p class="pt-3">Choose location</p>
      <span
        >Choose your and find <br />
        your best car</span
      >
    </div>
    <div class="flex flex-column align-items-center">
      <div
        class="background-icon flex justify-content-center align-items-center"
      >
        <i class="pi pi-calendar-plus"></i>
      </div>
      <p class="pt-3">Pick-up date</p>
      <span
        >Select your pick up date and <br />
        time to book your car</span
      >
    </div>
    <div class="flex flex-column align-items-center">
      <div
        class="background-icon flex justify-content-center align-items-center"
      >
        <i class="pi pi-car"></i>
      </div>
      <p class="pt-3">Book your car</p>
      <span
        >Book your car and we will deliver <br />
        it directly to you</span
      >
    </div>
  </div>
</div>
