<div class="grid flex-nowrap section-spacing">
  <div class="col-7">
    <img src="../../../../../assets/imgs/audi.png" alt="" />
  </div>
  <div class="col-5">
    <h3>WHY CHOOSE US</h3>
    <h2>We offer the best experience with our rental deals</h2>
    <div class="flex pb-2 pt-5">
      <div class="background-icon flex justify-content-center align-items-center">
        <i class="pi pi-map-marker icon"></i>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <p>Best price guaranteed</p>
        <span>Find a lower price? We’ll refund you 100% <br>
          of the difference.</span>
      </div>
    </div>
    <div class="flex pb-2">
      <div class="background-icon flex justify-content-center align-items-center">
        <i class="pi pi-map-marker icon"></i>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <p>Best price guaranteed</p>
        <span>Find a lower price? We’ll refund you 100% <br>
          of the difference.</span>
      </div>
    </div>
    <div class="flex pb-2">
      <div class="background-icon flex justify-content-center align-items-center">
        <i class="pi pi-map-marker icon"></i>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <p>Best price guaranteed</p>
        <span>Find a lower price? We’ll refund you 100% <br>
          of the difference.</span>
      </div>
    </div>
    <div class="flex pb-2">
      <div class="background-icon flex justify-content-center align-items-center">
        <i class="pi pi-map-marker icon"></i>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <p>Best price guaranteed</p>
        <span>Find a lower price? We’ll refund you 100% <br>
          of the difference.</span>
      </div>
    </div>
  </div>
</div>
