<div class="grid">
  <div class="col first">
    <h1>
      Download Rentcars<br />
      App for FREE <span>FREE</span>
    </h1>
    <p class="py-5">For faster, easier booking and exclusive deals.</p>
    <img  class="pb-5" src="../../../../../assets/imgs/2662af67aa1fb7026ed3ecdd0d18c1e8.png" alt="">
    <form>
      <div class="pb-3">
        <p-floatLabel class="pb-3">
          <input pInputText id="name" />
          <label for="name">Name</label>
        </p-floatLabel>
      </div>
      <div class="pb-3">
        <p-floatLabel>
          <input pInputText id="phone" />
          <label for="phone">Phone</label>
        </p-floatLabel>
      </div>
      <div class="pb-3">
        <p-floatLabel>
          <input pInputText id="email" />
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
    </form>
    <p-button  label="Sent" />
  </div>
  <div class="col">
    <div class="mobile-cover">
      <img src="../../../../../assets/imgs/mobile.png" alt="">
    </div>
  </div>
</div>
