.grid {
  overflow: hidden !important;

  .col-5 {
    margin-inline-start: 10vw;

    h1 {
      span {
        color: var(--First-primary-color);
      }
    }
    p{
      font-size: 18px;
      font-weight: 400;
    }
    img{
      width: 30%;
    }

  }
.col-7{
  img {
    height: 100%;
    width: -webkit-fill-available;
  }
}
}
