<div class="footer">
  <div class="container-fluid grid">
    <!-- ------------------------------ logo & social media ------------------------------ -->
    <div class="col-12 md:col-4 lg:col-4">
      <div class="navbar-logo"></div>
      <ul>
        <li>
          <i class="pi pi-map-marker"></i>
          <p>25566 Hc 1, Glenallen, Alaska, 99588, USA</p>
        </li>
        <li>
          <i class="pi pi-phone"></i>
          <p>+603 4784 273 12</p>
        </li>
        <li>
          <i class="pi pi-envelope"></i>
          <p>rentcars.com</p>
        </li>
      </ul>
    </div>

    <!-- ------------------------------ Category ------------------------------ -->
    <div class="col-12 md:col-2 lg:col-2">
      <h3 class="mb-3">Our Product</h3>
      <ul>
        <li class="cursor-pointer">Career</li>
        <li class="cursor-pointer">Car</li>
        <li class="cursor-pointer">Packages</li>
        <li class="cursor-pointer">Features</li>
        <li class="cursor-pointer">Priceline</li>
      </ul>
    </div>

    <!-- ------------------------------ Resources ------------------------------ -->
    <div class="col-12 md:col-2 lg:col-2">
      <h3 class="mb-3">Resources</h3>
      <ul>
        <li class="cursor-pointer">Career</li>
        <li class="cursor-pointer">Car</li>
        <li class="cursor-pointer">Packages</li>
        <li class="cursor-pointer">Features</li>
        <li class="cursor-pointer">Priceline</li>
        <li class="cursor-pointer">Priceline</li>
      </ul>
    </div>
    <!-- ------------------------------ About Rentcars ------------------------------ -->
    <div class="col-12 md:col-2 lg:col-2">
      <h3 class="mb-3">About Rentcars</h3>
      <ul>
        <li class="cursor-pointer">Career</li>
        <li class="cursor-pointer">Car</li>
        <li class="cursor-pointer">Packages</li>
        <li class="cursor-pointer">Features</li>
        <li class="cursor-pointer">Priceline</li>
        <li class="cursor-pointer">Priceline</li>
      </ul>
    </div>
    <!-- ------------------------------ About Rentcars ------------------------------ -->
    <div class="col-12 md:col-2 lg:col-2">
      <h3 class="mb-3">Follow Us</h3>
      <div class="flex">
        @for (item of social; track $index) {
          <a target="_blank" [href]="item.link"><p-button [icon]="item.icon" [text]="true"
              [rounded]="true" severity="secondary" /></a>
        }
      </div>
    </div>
  </div>
</div>
